name: Docker Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        version: [8.3-fpm, 8.3-fpm-alpine, 8.4-fpm, 8.4-fpm-alpine, 8.5-fpm]
        arch: [amd64, arm64]

    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.version }}
          push: true
          tags: brighterly/php:${{ matrix.version }}-${{ matrix.arch }}
          cache-from: type=gha,scope=${{ matrix.version }}-${{ matrix.arch }}
          cache-to: type=gha,mode=max,scope=${{ matrix.version }}-${{ matrix.arch }}

  create-manifest:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [8.3-fpm, 8.3-fpm-alpine, 8.4-fpm, 8.4-fpm-alpine, 8.5-fpm]
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and Push Manifest
        run: |
          docker buildx imagetools create -t brighterly/php:${{ matrix.version }} \
            brighterly/php:${{ matrix.version }}-amd64 \
            brighterly/php:${{ matrix.version }}-arm64
